<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="alternate icon" type="image/png" href="https://github.githubassets.com/favicons/favicon.png">
    <link rel="icon" type="image/svg+xml" href="https://github.githubassets.com/favicons/favicon.svg">

    <title>React weather widget demo</title>
  </head>
  <body>
    <weather-widget data-appid="<%= openWeatherApiKey %>"></weather-widget>
  </body>
</html>
