<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>React weather widget demo</title>
  </head>
  <body>
    <weather-widget data-appid="<%= openWeatherApiKey %>"></weather-widget>
  </body>
</html>
