.wrapper {
  width: 100%;
  max-width: 350px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.widget {
  &-toggler {
    position: relative;
    height: 0;
    z-index: 1;

    &__btn {
      position: absolute;
      display: flex;
      box-shadow: none;
      top: 0.25rem;
      right: 0.25rem;
      font-size: 1.45em;
    }
  }

  &-menu {
    &__btn {
      display: flex;
      font-size: $font-size-lg;
      color: $gray-700;

      &--drag:not([disabled]) {
        cursor: move;
      }
    }
  }
}
