.widget {
  &-toggler {
    position: relative;
    height: 0;
    z-index: 1;

    &__btn {
      position: absolute;
      display: flex;
      box-shadow: none;
      top: 0.2em;
      right: 0.2em;
      font-size: 1.45em;
    }

    & + .alert {
      margin-top: $spacer * 3;
    }
  }

  &-menu {
    &__btn {
      display: flex;
      font-size: $font-size-lg;
      color: $gray-700;

      &--drag:not([disabled]) {
        cursor: move;
      }
    }
  }
}
